@use '../../../styles/helpers' as *;

button {
    all: unset;
}

.SelectTrigger {
    display: flex;
    justify-content: space-between;
    padding: rem(5) rem(6);
    border: rem(1) solid var(--color-light-400);
    cursor: pointer;
}

.pagination {
    width: rem(210);
    background-color: var(--color-dark-500);
}

.si .SelectTrigger:hover {
    background-color: var(--color-light-100);
}
.SelectTrigger:focus {
    outline: 1px solid;
    color: var(--color-light-100);
    box-shadow: 0 0 0 2px black;
}
.SelectTrigger[data-placeholder] {
    color: var(--color-light-100);
}

.SelectIcon {
    color: var(--color-light-100);
}

.SelectContent {
    width: 100%;
}

.SelectViewport {
}

.SelectGroup {
    width: 100%;
}

.SelectItem {
    padding: rem(5) rem(10);
    display: flex;
    justify-content: space-between;
    width: auto;
    cursor: pointer;
    background-color: var(--color-dark-500);
    &:hover {
        background-color: var(--color-light-700);
    }
    &:hover .selectTypography {
        color: var(--color-light-100);
    }
}

.SelectItem[data-disabled] {
}
.SelectItem[data-highlighted] {
    outline: none;
}

.SelectLabel {
    padding: 0 rem(25);
    font-size: rem(12);
    line-height: rem(25);
}

.SelectSeparator {
    height: rem(1);

    margin: rem(5);
}

.SelectItemIndicator {
    position: absolute;
    left: 0;
    width: rem(25);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.SelectScrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(25);
    background-color: white;
    cursor: pointer;
}
