@use '../../../styles/helpers' as *;

.commentSection {
    display: flex;
    flex-direction: column;
    gap: rem(20);
}

.noComments {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button {
    align-self: center;
}
