@use '../../../../styles/helpers' as *;

.uploadWrapper {
    width: 100%;
    height: 100%;
    margin-bottom: rem(10);
}

.input {
    display: none;
}

.imageWrapper {
    margin-top: rem(8);
}

.image {
    max-width: rem(200);
    width: 100%;
    height: 100%;
}
