@use '../../../styles/helpers' as *;

.commentItem {
    display: grid;
    grid-template-columns: rem(50) 1fr;
    gap: rem(20);
    width: 100%;
    background-color: var(--color-secondary);
    border-radius: rem(20);
    padding: rem(20);
}

.imageWrapper {
    width: rem(40);
    height: rem(40);
    border-radius: rem(10);
    overflow: hidden;
}

.imageWrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infoWrapper {
    display: grid;
    grid-template-columns: 1fr rem(200);
    gap: rem(20);
    @include mobile {
        display: flex;
        flex-direction: column;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: rem(5);
}

.likes {
    display: flex;
    gap: rem(20);
}

.extendedItem {
    display: flex;
    gap: rem(10);
}

.disabled {
    color: var(--colog-gray);
}

.liked {
    color: var(--color-danger);
}

.disliked {
    color: var(--color-main);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: rem(20);
}

.control {
    display: flex;
    gap: rem(20);
}
