:root {
    --color-main: #050814;
    --lighter-main: #060a18;
    --color-secondary: #191522;
    --color-danger: #f7374f;
    --color-success-100: #4caf50;
    --colog-gray: #9ca4ab;
    --color-warning: #f59e0b;

    --color-light-100: #def9fa;
    --color-light-200: #bef3f5;
    --color-light-300: #9dedf0;
    --color-light-400: #7de7eb;
    --color-light-500: #5ce1e6;
    --color-light-600: #5ce1e6;
    --color-light-700: #33bbcf;

    --bg-gray-gradient: linear-gradient(90deg, #393640 0%, #282430 50%, #191522 100%);

    --bg-light-gradient: linear-gradient(
        90deg,
        var(--color-light-100) 0%,
        var(--color-light-200) 16%,
        var(--color-light-300) 33%,
        var(--color-light-400) 50%,
        var(--color-light-500) 66%,
        var(--color-light-700) 100%
    );
}
