:root {
    --color-main: #050814;
    --color-danger: #f7374f;
    --color-success-100: #4caf50;
    --colog-gray: #9ca4ab;
    --color-warning: #f59e0b;

    --color-light-100: #def9fa;
    --color-light-200: #bef3f5;
    --color-light-300: #9dedf0;
    --color-light-400: #7de7eb;
    --color-light-500: #5ce1e6;
    --color-light-600: #5ce1e6;
    --color-light-700: #33bbcf;
}
