@use '../../../styles/helpers' as *;

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    margin-bottom: rem(20);
}

.infoGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(10);
    margin-top: rem(20);
    font-size: rem(11);
}

.info {
    font-size: rem(14);
}

.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(20);
}
