@use '../../styles/helpers' as *;

.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: rem(200) 1fr;
}

.main {
    //background-color: var(--lighter-main);
    background-color: var(--color-main);
    border-radius: rem(12);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
    padding: rem(24) rem(24) rem(50) rem(40);
}
