@use '../../styles/helpers' as *;

.pageHeader {
    width: 100%;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.title {
    background: var(--bg-light-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.searchWrapper {
    display: flex;
    align-items: center;
    gap: rem(20);
    @include mobile {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

.search {
    background: var(--bg-gray-gradient);
    width: rem(342);
    @include mobile {
        width: rem(280);
    }
}
