@use '../../styles/helpers' as *;

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: rem(800);
    gap: rem(10);
    padding: rem(20) rem(20) rem(15);
}
