@use '../../styles/helpers' as *;

.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--lighter-main);
    border-bottom: rem(1) solid hsl(var(--color-default-300) / 1);
    opacity: 1;
    z-index: 100;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.userBlock {
    display: flex;
    align-items: center;
    gap: rem(20);
}

.btnGroup {
    display: flex;
    column-gap: rem(10);
}
