@use '../../../styles/helpers' as *;

.form {
    background: var(--bg-gray-gradient);
    padding: rem(20);
    border-radius: rem(20);
    width: rem(400);
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    margin-bottom: rem(20);
}

.infoGroup {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    margin-top: rem(20);
    font-size: rem(11);
}

.info {
    font-size: rem(14);
}

.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(20);
}
