@use '../../../styles/helpers' as *;

.h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: fluid(56, 24);
    line-height: rem(60);
    letter-spacing: -1%;
    text-align: center;
    margin-bottom: rem(30);
}

.h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: fluid(36, 24);
    letter-spacing: -1%;
    margin-bottom: rem(30);
}

.h4 {
    font-family: 'ArchivoNarrow', sans-serif;
    font-weight: 500;
    font-size: fluid(18, 14);
    letter-spacing: -1%;
    text-align: center;
}

.body2 {
    font-family: 'SourceSans3', sans-serif;
    font-weight: 400;
    font-size: fluid(18, 14);
    line-height: rem(10);
    letter-spacing: 0;
}
