@use '../../styles/helpers' as *;

.loader {
    position: relative;
    width: 100%;
    height: rem(4);
    background-color: var(--color-main);
    overflow: hidden;
    z-index: 10000;
}

.loader::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-light-700);
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
