@use '../../styles/helpers' as *;

.postPage {
    display: flex;
    flex-direction: column;
}

.imageWrapper {
    width: 100%;
    height: rem(360);
    border-radius: rem(20);
    overflow: hidden;
}

.imageWrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postPageInner {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
}

.pageHeader {
    display: grid;
    grid-template-columns: 1fr rem(200);
    align-items: end;
    column-gap: rem(80);
}

.likes {
    display: flex;
    align-items: end;
    justify-content: end;
}

.info {
}

.title {
    text-align: start;
}

.line {
    border: 0;
    height: rem(2);
    background: var(--color-light-100);
    width: 100%;
    margin: rem(16) 0;
    opacity: 0.6;
}

.contentWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: rem(800);
    letter-spacing: rem(2);
}
